fly.toml

.git
tmp
!tmp/pids/.keep
log
public/assets
public/packs
.bundle

db/*.sqlite3
db/*.sqlite3-*

storage
config/master.key
config/credentials/*.key
google-credentials.json
.env*
*.local

node_modules
