%p
  = "Welcome to example.com, #{@user.email}"
%p
  ===============================================

%p
  You have successfully signed up to example.com,
  your email is:
  = @user.email

%p
  To login to the site, just follow this link:
%a{href: @url}= @url

%p
  Thanks for joining and have a great day!