= vite_javascript_tag 'admin_articles_index'

-# ソートアイコンを出しておく
%table.table
  %thead.thead-light
    %tr
      %th{scope: "col", class: 'sortable'} id
      %th{scope: "col"} title
      %th{scope: "col"} content
      -# statusはチェック状態にしておく
      %th{scope: "col", class: 'sortable'} published
      %th{scope: "col", class: 'sortable'} published_at
      %th{scope: "col"} edit
      %th{scope: "col"} delete
  %tbody
    = render partial: 'layouts/admin/articles/article', collection: @articles
