-# TODO
-# 一記事の表示限界を定める

-# CSS対応
-# 中央に持ってくる
-# 記事の間を少し離す
-# タイトルと本文を少し離す

-# TODO
%div.blog-post
  %h1
    = article.title
  -# TODO: ここに投稿日とかを記載したい
  %br
  %p.article-text
    = article.text
  %br
  %br
