-# markdown
%script{:src => "https://cdn.jsdelivr.net/npm/marked/marked.min.js"}

-# highlight.js
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/srcery.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"}

= javascript_pack_tag 'articles/index'

-# 記事表示部分
= render partial: 'article', collection: @articles

-# left_sidebar（月毎遷移）
-# 画面最下部 ページネーション