%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.1/marked.min.js"}

-# highlight.js
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/srcery.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"}

-# = vite_stylesheet_tag 'stylesheets/articles/index.scss'
= vite_javascript_tag 'index'

%div
  = render partial: 'article', collection: @articles

= paginate @articles

-# TODO: 著作権とか（全体に適用したいのでapplicationに移植する）
%footer.container
