%script{:src => "https://cdn.jsdelivr.net/npm/marked/marked.min.js"}

-# highlight.js
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/srcery.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"}

= javascript_pack_tag 'articles/index'
= stylesheet_pack_tag 'articles/index'

%div
  = render partial: 'article', collection: @articles

= paginate @articles

-# TODO: 著作権とか（全体に適用したいのでapplicationに移植する）
%footer.container