%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.1/marked.min.js"}

%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/srcery.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"}

= vite_javascript_tag 'index'

%div
  = render partial: 'article', locals: { article: @article }

%footer.container
