/ Left navbar links
%ul.navbar-nav
  %li.nav-item
    %a.nav-link{"data-widget" => "pushmenu", href: "#", role: "button"}
      %i.fas.fa-bars
/ SEARCH FORM
%form.form-inline.ml-3
  .input-group.input-group-sm
    %input.form-control.form-control-navbar{"aria-label" => "Search", placeholder: "Search", type: "search"}/
    .input-group-append
      %button.btn.btn-navbar{type: "submit"}
        %i.fas.fa-search
/ Right navbar links
%ul.navbar-nav.ml-auto
  / Messages Dropdown Menu
  / Notifications Dropdown Menu
  %li.nav-item
    %a.nav-link{"data-widget" => "fullscreen", href: "#", role: "button"}
      %i.fas.fa-expand-arrows-alt
  %li.nav-item.dropdown
    %a.nav-link{"data-toggle": "dropdown"}
      %i.fas.fal.fa-user
    .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
      .card.border-0{:style => "width: 18rem;"}
        .bg-image.hover-overlay.ripple{"data-mdb-ripple-color" => "light"}
          %img.img-fluid{:src => "https://mdbootstrap.com/img/new/standard/nature/111.jpg"}/
          %a{:href => "#!"}
            .mask{:style => "background-color: rgba(251, 251, 251, 0.15)"}
        .card-body
          -# %h5.card-title Card title
          %p.card-text.text-center
            = current_user.email
          %br
          = link_to "Logout", admin_logout_path, method: :post, class: 'btn btn-primary'
