@import "bootstrap";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "header";
@import "sidebar";
@import "pagination";

// TODO: もう少しスマートにメイン部分とサイドバーの間隔を空けたい
aside.blog-sidebar{
  padding-left: 50px;
}

.content-wrapper{
  margin-top: 80px;
}

// NOTE: 画像が横幅を超えないように制限する
img {
  // 横幅に合わせて自動縮小するが、拡大はしない
  max-width: 100%;
  object-fit: contain;
}