// --------------------------------------------------
// 対象：_article.html.haml
pre {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px gray;
  padding-left: 10px;
}

.blog-post {
  margin-bottom: 60px;
}

.blog-post:not(:last-child){
  padding-bottom: 30px;
  border-bottom: dotted 2px gray;
}

.tag-area {
  display: flex;
  align-items: center;
  color: gray;

  // font-awesomeで描画される要素は最終的にsvgのため、svgに対して設定する
  > svg {
    margin-right: 10px;
  };
  > p {
    font-size: 0.9rem;
    margin: 0;
  }
}
