// --------------------------------------------------
// 対象：_article.html.haml
pre {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px gray;
  padding-left: 10px;
}

.blog-post {
  margin-bottom: 60px;
}

.blog-post:not(:last-child){
  padding-bottom: 30px;
  border-bottom: dotted 2px gray;
}