%body.hold-transition.sidebar-mini
  .wrapper
    / /.navbar
    / Content Wrapper. Contains page content
    .content-wrapper
      / Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-2
            .col-sm-6
              -# %h1.m-0 Dashboard Page