-# TODO: navigator
%header#header
  %div.container
    = link_to 'fujjima blog', root_path, class: 'blog-title'
    %nav
      %ul
        %li
          %a
            経歴
        %li
          %a
            問い合わせ
