-# TODO: navigator
%header#header
  %div.container
    = link_to 'fujjima blog', root_path, class: 'blog-title'
    %nav
      %ul
        %li
          %a{ href: "https://fujjima.github.io/resume/", target: "_blank", rel: "noopener noreferrer" }
            経歴
        %li
          -# TODO: 外部のサイトにアクセスさせる
          %a{ href: "#{root_url}question" }
            問い合わせ
